doctype xml
urlset(xmlns='http://www.sitemaps.org/schemas/sitemap/0.9')
  for entry in entries
    url
      loc #{locals.url}#{entry.url}
      if entry.metadata.date
        lastmod=entry.date.toISOString()
      if entry.metadata.changefreq
        changefreq=entry.metadata.changefreq
      if entry.metadata.priority
        priority=entry.metadata.priority
